<ion-header [translucent]="true">
  <ion-toolbar color= "primary">
    <ion-row size="10">
      
    <ion-title  >
      Home
    </ion-title>
  
  
    <ion-item class="float"  color="#24AF59">
      <ion-label>
       Mode
      </ion-label>
      <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
    </ion-item>
  
  </ion-row >
  </ion-toolbar>
  <ion-row color="primary" size="5"> </ion-row>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add a date</ion-title>
    </ion-toolbar>

  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  
</ion-content> -->

<ion-content class="background" >
  
  <div class="container">
    
    <div class="text-block">
      
          <h3 class="Sans" >Welcome to <br> Time Buddy</h3>
    </div>
    
  </div>
  <ion-grid fixed>
    
    
  </ion-grid>
</ion-content>
