<ion-header [translucent]="true">
  <ion-toolbar color= "primary">
    <ion-title>
      Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header  collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timer</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-row class ="ion-justify-content-center">

  <!-- picker component -->
  <div><h3>Pick an amount of time</h3></div>

  <div>

  <ion-item class ="ion-justify-content-center">
    
    <ion-label > </ion-label>
    <ion-label color="primary" position="fixed">{{ framework }}</ion-label>
    <ion-button slot="end" fill="fixed"(click)="showBasicPicker()">Mins</ion-button>
  </ion-item>
</div>
  <!-- Timer component -->
  <div>
  <svg
    id= "progress-circle"
    width="50vh"
    height = "50vh"
    viewBox="0 0 200 200"
    >

    <linearGradient id = "linearColors1" x1="0" y1="0" x2="1" y2 = "1">
      <stop offset = "100%" stop-color="#21CB3F"></stop>
      <stop offset = "100%" stop-color="#97F1A7"></stop>
    </linearGradient>
    
    <circle 
    cx = "50%"
    cy = "50%"
    [attr.r]="circleR"
    fill = "none"
   
    stroke-width="12"
    />
    <circle
    cx = "50%"
    cy = "50%"
    [attr.r]="circleR"
    fill = "none"
    stroke = "url(#linearColors1"
    stroke-width="12"
    stroke-linecap="round"
    [attr.stroke-dasharray]="circleDasharray"
    [attr.stroke-dashoffset]="percentageOffset(percent | async)"
    />
    <text x ="50%" y ="55%" class="timer-text">{{ time | async }}</text>

  </svg>
</div>
  

  
  </ion-row>

  

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
<ion-footer>
  <ion-button *ngIf="state === 'stop'" expand="block" color= "primary" (click)="startTimer(startDuration)">START</ion-button>
  <ion-button *ngIf="state === 'start'" expand="block" color= "danger" (click)="stopTimer()">STOP</ion-button>
</ion-footer>