#progress-circle {
    margin-top: 50px;
    transform: rotate(-90deg);
}

.timer-text{
    transform: rotate(90deg);
    transform-origin: center;
    font-size: 36px;
    text-anchor: middle;
    font-weight: 600;
    fill: rgb(58, 161, 77);
}
.wallpaper{
    
    background-image: no-repeat;
    background-position:center;
    background-size:contain;

}
.no-scroll .scroll-content{
    overflow:hidden;
}